<h1>New Post Form</h1>

<form  action="/posts" method="post">
  <legend>New Post Title</legend>
  <input type="text" name="name">
  <legend>New Post Content</legend>
  <input type="text" name="content">
  <input type="submit" value="submit">

</form>
